<div class="container">
  <div class="well">
    Outter Iframe
  </div>
  <div class="row">
    <div ng-model="selectedComponent">selected: {{selectedComponent.id}}</div>
    <div>before</div>
    <domroot dom-model="rootComponent"></domroot>
    <div>after</div>
  </div>
  <div class="row">
    <div class="col-lg-8">

      <div class="wrapper">
        <span>wrapper</span>
        <div id="canvas" dnd-droppable></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div id="myTreeControl">
        <span>myTreeControl</span>
        <br>
        <button ng-click="addChild()">Add</button>
        <treecontrol class="tree-classic"
           tree-model="treeModel"
           options="treeOptions"
           on-selection="showSelected(node)"
           selected-node="node1">
           <span id='{{node.id}}'>
            {{node.tag}}: {{node.name}}
           </span>
        </treecontrol>
      </div>
    </div>
  </div>
</div>
<div id="tools-group">
  Tools...
  <ul>
    <li data-raw="<div class='well' dnd-draggable='' dnd-droppable></div>" data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 1</li>
    <li data-raw="<div class='alert alert-success' dnd-draggable='' dnd-droppable></div>" data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 2</li>
    <li data-raw="<div class='alert alert-danger' dnd-draggable='' dnd-droppable></div>" data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 3</li>
    <li data-raw="<div class='alert alert-warning' dnd-draggable='' dnd-droppable></div>" data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 4</li>
    <li data-raw="<a class='btn btn-default'>Button</a>" data-helper="clone" dnd-draggable="" class="ui-draggable"><i class="glyphicon  glyphicon-adjust"></i>Drag 5</li>
  </ul>
</div>
